{%extends 'jobseeker/base.html'%}

{%block bodyblock%}

{%for job in data%}

<div class="mt-5">
  <div class="card mb-1 " style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center px-2 ">
          {%if job.poster%}
          <img src="{{job.poster.url}}" class="img-fluid rounded-start" alt="...">
          {%endif%}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{job.title}}</h5>
            <p class="card-text">
              <i class="fa-regular fa-clock me-2 mb-2"></i>{{job.job_type}} <br>
              <i class="fa-regular fa-building me-2 mb-2"></i>{{job.company}} <br>
              <i class="fa-regular fa-dollar me-2 mb-2"></i>{{job.salary}}
            </p>
            <a href="{%url 'job-detail' job.id%}" class="btn btn-info mb-2 d-flex justify-content-center">view more</a>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

          </div>
        </div>
      </div>
    </div>
</div>

{%endfor%}

{%endblock%}