{%extends 'jobseeker/base.html'%}

{%block bodyblock%}
      <div class="container mt-5 d-flex justify-content-center">
        <div class="card" style="width: 50%;">
           {%if data.profile_pic%}
           <img src="{{data.profile_pic.url}}" class="card-img-top" alt="..." height="350px">
           {%endif%}
            <div class="card-body">
              <h5 class="card-title">{{data.user}}</h5>
              <p class="card-text">
                <label class="mb-2">Address : </label> {{data.address}} <br>
                <label class="mb-2">Phone no : </label> {{data.phone}} <br>
                <label >Email : </label> {{data.user.email}}
            </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Experience : {{data.experience}}</li>
              <li class="list-group-item">Gender : {{data.gender}}</li>
              <li class="list-group-item">Qualification : {{data.qualification}}</li>
            </ul>
            <div class="card-body">
              <a href="{{data.resume.url}}" download class="btn btn-outline-info">Dowanload Cv</a>
              
            </div>
          </div>
      </div>
{%endblock%}